button {
  background: none;
  border: none;
}

// Save Routine
// Save Workout

.btn--save {
  background: transparent;
  color: $mainColor;
  font-weight: 700;
  border-bottom: 3px solid $mainColor;
  margin-bottom: 25px;
  padding: 10px;
  &:hover {
    color: $darkColor;
    border-bottom: 3px solid $darkColor;
  }
}

.btn--add {
  padding: 15px 10px;
  background: $accentColor;
  height: 100%;
  float: left;
  border-radius: 0 4px 4px 0;
  box-shadow: 1px 1px 2px $lightBlack;
  border: 1px solid transparent;
}


@media (max-width: 600px) {
  .btn--add, .btn--save {
    width: 100%;
    margin-top: 10px;
    border-radius: none;
    transition: background-color .25s ease;
  }
  .btn--add {
    &:hover {
      background: darken($accentColor, 25%);
      font-weight: 700;
    }
  }
  .btn--save {
    background: $mainColor;
    color: $white;
    padding: 15px 10px;
    &:hover {
      border-bottom: 3px solid transparent;
      background: darken($mainColor, 10%);
      color: $white;
    }

  }
}

// BUTTON &: go to routine, go to workout

.btn--goTo {
  float: left;
  background: white;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 40px 40px;
  border-radius: 4px;
  text-align: left;
  // box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: width 0.35s ease;
  &:hover {
    background-color: $accentColor;
  }
  &:hover .fa-angle-right {
    color: $darkColor;
  }
  .fa-angle-right {
    float: right;
    margin-left: 10px;
    font-size: 2.5rem;
    color: #56a3b3;
  }
}

@media (max-width: 600px) {
  .btn--goTo {
    width: 100%;
    margin: 8px 0;
    float: none;
    &:hover .fa-angle-right {
      color: #3b3b3b;
    }
  }
}

.history .btn--goTo {
  width: 100%;
  padding: 20px 40px;
  h2{
    display: inline-block;
  }

}

.btn--goBack {
  border: none;
  padding-left: 20px;
  margin: 15px 0;
  display: block;
  clear: both;
  .fa-long-arrow-alt-left {
    padding-top: 5px;
    margin-right: 15px;
  }
}
