$headingText: 'Bowlby One SC', cursive;
$bodyText: 'Nunito', sans-serif;

$mainColor1: #3b3b3b;
$mainColor2: #006882;
$accentColor: #a4e000;

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

body {
  background: #f5f9fe;
}

header {
  background: linear-gradient(to right, #0575E6, #00F260);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.wrapper {
  width: 95vw;
  max-width: 1280px;
  margin: 0 auto;
}




label {
  display: block;
  margin: 10px 0;
}

// in the dashboard
.inputDiv {
  // border: 1px solid red;
  input {
    float: left;
  }
}

input {
  padding: 2px 5px;
  text-align: center;
  border-radius: 5px;
  border: none;
  // width: 100%;
}

input[type="submit"] {
  display: block;
  margin: 10px auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #a4e000;
  color: black;
}



fieldset {
  border: none;
  margin-bottom:25px;
}
.exerciseInputs {
  width: 33.33%;
  float: left;
}

// ADD EXERCISES
.exerciseLabels {
  label {
    float: left;
    width: 33.33%;
  }
}

button {
  background: white;
  padding: 20px 20px;
  border: none;
  border-radius: 3px;
  width: 100%;
  margin: 5px 0;
  // color: white;
  text-align: left;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  &:hover {
    background: #8ce8ff;
    // color: white;
  }
}


// EXERCISE VIEW
.exerciseCard {
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 5px;
  h3 {
    float: left;
    width: 33.33%;
  }
  fieldset input {
    float: left;
    border: 1px solid rgba(0,0,0,0.2);
    width: 33.33%;
  }
}

