$headingText: "Nunito", sans-serif;
$bodyText: "Nunito", sans-serif;


body {
  font-size: 1.8rem;
  font-family: $headingText;
  color: $darkColor;
}

h1, h2, h3 {
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

// GYM GORDON
h1 {
    font-size: 2.8rem;
    padding: 2vh 20px 1vh 20px;
    letter-spacing: 0px;
    font-weight: 600;
}

// EXERCISE NAME
h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $darkColor;
    font-weight: 400;
}
//h2
.savedRoutines {
    text-align: left;
    padding: 25px 0 0 20px;
}


// WEIGHT/REPS/SETS
h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

::placeholder {
    color: #777777;
}