body {
  font-size: 1.8rem;
  font-family: $bodyText;
}


h1, h2, h3 {
    // font-family: $headingText;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

// GYM GORDON
h1 {
    font-size: 2.5rem;
    padding: 2vh 20px 1vh 20px;
    letter-spacing: 0px;
}

// EXERCISE NAME
h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: blue;
}

// WEIGHT/REPS/SETS
h3 {
    font-size: 1.6rem;
    color: darkorchid;
    font-weight: 400;
}

::placeholder {
    color: #777777;
}