label {
  display: block;
  margin: 10px 0;
}


input {
  padding: 15px 10px;
  text-align: center;
  border: none;
}


//Dashboard
//Workouts
  .userInputContainer {
    display: inline-block;
    margin: 10px 0 20px 0;
    height: 100%;
    input {
      width: 400px;
      float: left;
      font-style: italic;
      border-left: none;
      box-shadow: 1px 1px 2px $lightBlack;
      border-radius: 5px 0 0 5px;
      &:focus {
        border: 1px solid $accentColor;
      }
    }
}

@media (max-width: 600px) {
  .userInputContainer{
    width: 100%;
    input {
      width: 100%;
      border-radius: 3px;
      border: 1px solid $lightBlack;
    }
  }
}

input[type="submit"] {
  display: block;
}

fieldset {
  border: none;
  margin-bottom: 25px;
}
.exerciseInputs {
  width: 33.33%;
  float: left;
}

// ADD EXERCISES
.exerciseLabels {
  label {
    float: left;
    width: 33.33%;
  }
}

// EXERCISE VIEW
.exerciseCard {
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 5px;
  h3 {
    float: left;
    width: 50%;
  }
  fieldset {
    margin: 0;
    padding: 0;
    width: 100%;
    // border: 1px solid blue;
    .exerciseDetails {
    //   border: 1px solid red;
    }
    input {
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 0 10px;
    }
  }
}

@media (max-width: 600px) {
  .exerciseDetails {
    input {
       width: 100%;
       margin-bottom: 10px;
    }
  }
}