


.not-visible {
  transform: translateX(-100%);
}

.visible {
  transform: translateX(0);
}

.sideBar {
  position: absolute;
  // top: 50.5px;
  width: 50%;
  z-index: 1000;
  height: calc(100vh - 50.5px);
  background: lightblue;
  text-align: left;
  transition: transform 0.4s ease-in;
}

.nav {
  .burger {
    display: inline-block;
  }
  // float: left;
}