
.not-visible {
  right: -100%;
}

.visible {
  right: 0%;
}

.sideBar {
  background: white;
  position: fixed;
  top: 0px;
  width: 500px;
  z-index: 500;
  height: 100%;
  // background: lightblue;
  text-align: left;
  transition: right .75s linear;
  border-left: 1px solid $darkColor;
  ul {
    margin-top: 100px;
    list-style: none;
  }
  li {
    margin: 25px 50px;
    text-align: right;
  }
  a {
      color: black;
      font-size: 2.5rem;
    }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0 20px;
  .burger {
    z-index: 1000;
    display: inline-block;
  }
  // float: left;
}

@media (max-width: 768px) {
  .sideBar {
    width: 100%;
  }
}